<h1><%= current_user.name %>さんのマイページ</h1>

<%= link_to 'ブログTOP', site_path(current_user.site) %>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, site_post_path(post.site, post) %></td>
        <td>コメント(<%= post.comments.length %>)</td>
      </tr>
      <tr>
        <td><%= post.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_site_admin_post_path(post.site, post) %> |
          <%= link_to 'Destroy', [post.site, post], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_site_admin_post_path %>
<%= link_to 'ブログ設定', edit_site_path(current_user.site) %>
<%= link_to 'アカウント設定', edit_user_path(current_user) %>
