<h1>アプリケーションTOPページ</h1>

<h2>新着記事</h2>
<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.site.user.name %>さんの記事</td>
        <td><%= post.created_at.strftime("%Y/%m/%d %X") %></td>
      </tr>
      <tr>
        <td><%= link_to post.title, site_post_path(post.site, post) %></td>
        <td>コメント(<%= post.comments.length %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>ブログ一覧</h2>
<table>
  <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><%= site.user.name %>さんのブログ</td>
        <td><%= site.created_at.strftime("%Y/%m/%d %X") %></td>
      </tr>
      <tr>
        <td><%= link_to site.title, site %></td>
      </tr>
    <% end %>
  </tbody>
</table>
