<h1><%= @site.title %></h1>
<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
      	<td><%= link_to post.title, site_post_path(post.site, post) %></td>
      </tr>
      <tr>
        <td><%= post.created_at %></td>
        <td>コメント(<%= post.comments.length %>)</td>
      </tr>
      <tr>
        <td><%= post.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
